<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="profile-element">
                	<div class="logo"><i class="fa fa-leaf"></i> Plumdo-Word</div>
                </div>
                <div class="logo-element">
                    Plumdo
                </div>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="word-one"><i class="fa fa-pie-chart"></i> <span class="nav-label">单页分词</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="word-two"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">双页分词</span> </a>
            </li>
            
        </ul>

    </div>
</nav>