<div class="theme-config">
	<div class="theme-config-box">
		<div class="spin-icon" ng-click="showConfig()">
			<i class="fa fa-cogs fa-spin"></i>
		</div>
		<div class="skin-setttings">
			<div class="title">主题设置</div>
			<div class="setings-item">
				<span>收起左侧菜单</span>
				<div class="switch">
					<div class="onoffswitch">
						<input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="collapsemenu" ng-click="collapsemenu()"> 
							<label class="onoffswitch-label" for="collapsemenu"> 
								<span class="onoffswitch-inner"></span> 
								<span class="onoffswitch-switch"></span>
							</label>
					</div>
				</div>
			</div>
			<div class="setings-item">
				<span>固定顶部</span>
				<div class="switch">
					<div class="onoffswitch">
						<input type="checkbox" name="fixedsidebar" class="onoffswitch-checkbox" id="fixedsidebar" ng-click="fixedsidebar()"> 
						<label class="onoffswitch-label" for="fixedsidebar"> 
							<span class="onoffswitch-inner"></span> 
							<span class="onoffswitch-switch"></span>
						</label>
					</div>
				</div>
			</div>
			<div class="setings-item">
				<span>导航条切换</span>
				<div class="switch">
					<div class="onoffswitch">
						<input type="checkbox" name="fixednavbar" class="onoffswitch-checkbox" id="fixednavbar" ng-click="fixednavbar()"> 
						<label class="onoffswitch-label" for="fixednavbar"> 
							<span class="onoffswitch-inner"></span> 
							<span class="onoffswitch-switch"></span>
						</label>
					</div>
				</div>
			</div>
			<div class="setings-item">
				<span>宽屏/窄屏</span>
				<div class="switch">
					<div class="onoffswitch">
						<input type="checkbox" name="boxedlayout" class="onoffswitch-checkbox" id="boxedlayout" ng-click="boxedlayout()"> 
						<label class="onoffswitch-label" for="boxedlayout"> 
							<span class="onoffswitch-inner"></span> 
							<span class="onoffswitch-switch"></span>
						</label>
					</div>
				</div>
			</div>
			<div class="setings-item">
				<span>固定底部</span>
				<div class="switch">
					<div class="onoffswitch">
						<input type="checkbox" checked name="fixedfooter" class="onoffswitch-checkbox" id="fixedfooter" ng-click="fixedfooter()"> 
						<label class="onoffswitch-label" for="fixedfooter"> 
							<span class="onoffswitch-inner"></span> 
							<span class="onoffswitch-switch"></span>
						</label>
					</div>
				</div>
			</div>
			<div class="title">皮肤选择</div>
			<div class="setings-item default-skin">
				<span class="skin-name "> <a href="" class="s-skin-0" ng-click="changeSkin0()">默认皮肤</a>
				</span>
			</div>
			<div class="setings-item blue-skin">
				<span class="skin-name "> <a href="" class="s-skin-1" ng-click="changeSkin1()">淡蓝色主题</a>
				</span>
			</div>
			<div class="setings-item ultra-skin">
				<span class="skin-name "> <a href="" class="s-skin-1" ng-click="changeSkin2()">深蓝色主题</a>
				</span>
			</div>
			<div class="setings-item yellow-skin">
				<span class="skin-name "> <a href="" class="s-skin-2" ng-click="changeSkin3()">黄色/紫色主题</a>
				</span>
			</div>
		</div>
	</div>
</div>